*{padding:0;margin:0;}
html,body{
	font:12px/1.5 "Hiragino Sans GB", "Helvetica Neue", "Helvetica", Arial, Tahoma, sans-serif;
}
body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4
{margin:0;padding:0;font-style:normal;font-family:inherit;font-size:12px;font-weight:400;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;} 
 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:top;} 
body{color:#000000;background:#FFF; text-align:left;} 
.clearfix:after{content:'';display:block;clear:both;overflow:hidden;visibility: hidden;} 
a{color:#000000;text-decoration:none; }  
a:hover{color:#c8161e;} 
.red{color: #c8161e;}

.home-banner .swiper-slide{overflow: hidden;}
.home-banner .swiper-pagination{display: flex;justify-content: center;align-items: center;}
.home-banner .swiper-pagination-bullet{width:10px;height:10px;background: #fff;opacity: 0.5;}
.home-banner .swiper-pagination-bullet-active{width:15px;height:15px;background: #c8161e;opacity: 1;}
.relative{position: relative;}
.layer{overflow: hidden;}
.cover{max-width: 1200px;width:99%;margin:0 auto;}

.mod-hd{text-align: center;padding-top:15px;}
.mod-hd h2{font-size: 24px;display: inline-block;padding-left: 196px;background-position: left top;background-repeat: no-repeat;line-height: 156px;}
.mod-hd p{font-size: 16px;line-height: 36px;margin-top:-15px;}
.zx-hd h2{background-image: url(../assets/hd_zx.png);}
.zx-hd p{color:#c8161e;}

.modifying{position: absolute;z-index:-1;min-width:1600px;width:100%;left:50%;transform:translateX(-50%);}
.modifying01{top:80px;}
.modifying02{bottom:20px;text-align: right;}

.zx-hb-bd{display: flex;justify-content: space-between;}
.zx-hb-bd li{position: relative;float:left;overflow: hidden;}
.zx-hb-bd li img{transition: all .2s;}
.zx-hb-bd li:hover img{ filter: blur(3px);}
.zx-hb-bd li .zx-hb-inner{position:absolute;left:0;top:0;width:100%;height:100%;color:#fff;text-align: center;background: rgba(0,0,0,.4);transform: rotateY(180deg);visibility: hidden;transition: .3s;opacity: 0;}
.zx-hb-bd li .zx-hb-item{position: absolute;top:50%;transform:translateY(-50%);}
.zx-hb-bd li .zx-hb-hd{font-size: 22px;}
.zx-hb-bd li p{width:80%;margin:0 auto;font-size: 14px;line-height: 24px;padding:15px 0;}
.zx-hb-bd li a{font-size: 14px;color: #fff;display: inline-block;width:140px;height:35px;background:linear-gradient(to right,#c8181e,#ffaf53);border-radius: 17px;line-height: 35px;}
.zx-hb-bd li .flipper{transition: all .6s;}
.zx-hb-bd li:hover .flipper{transform: rotateY(180deg);}
.zx-hb-bd li:hover .zx-hb-inner{visibility: visible;opacity: 1}